body{
    font: '-apple-system-body';
    font-weight: normal;
    color: #090909;
    background-color: #ffffff;
}

p.title {
    font: '-apple-system-headline';
    margin: 0px;
    color: #eb615e;
}

p.author {
    font: '-apple-system-subheadline';
    margin: 0px;
    font-style: italic;
    color: #000000;
}

/*for size of embedded videos*/
iframe{
    width: 95%;
    height: auto;
}

img.alignleft {
    float: left;
    margin: 12px;
    width: 50%;
    height: auto;
}

img.alignright {
    float: right;
    margin: 12px;
    width: 50%;
    height: auto;
}

img.aligncenter {
    display: block;
    margin: auto;
    width: 95%;
    height: auto;
}

img.alignnone {
    display: block;
    margin: auto;
    width: 95%;
    height: auto;
}
